rvm: '2.5.0'

script:
  - mkdir -p spec && bundle exec rspec spec

before_install:
- sudo apt-get update -qq
- sudo apt-get install -qq postgresql-server-dev-9.3

before_script:
  - psql -c 'create database pinkbnb_test;' -U postgres
  - psql pinkbnb_test -U postgres -c 'CREATE TABLE users (ID SERIAL PRIMARY KEY, name VARCHAR(60), username VARCHAR(30), email VARCHAR(60), password VARCHAR(30));'
  - psql pinkbnb_test -U postgres -c 'CREATE TABLE spaces (ID SERIAL PRIMARY KEY, name VARCHAR(100), description VARCHAR(400), price_per_night MONEY);'