<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PinkBNB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="homepage.css">
  </head>
  <body>
    <div class="page-header">
      <h1>Pink BNB</h1>
    </div>
    <div>
    <a href="/users/new" class="signupbutton">Sign up</a>
    </div>

    <div class="sign-up-form">

    <form action="/users/new" method="post" <label class="notAMember" for="form-details">Not a member? Sign Up</label>
      <div class="form-details">
      <input type="text" name="name" placeholder="Enter name">
      </div>

      <div class="form-details">
        <input type="text" name="username" placeholder="Enter username">
      </div>

      <div class="form-details">
        <input type="text" name="email" placeholder="Enter email">
      </div>

      <div class="form-details">
        <input type="text" name="password" placeholder="Password">
      </div>
      <input type="submit" value="Submit">
    </form>

    </div>

    <div class="log-in">
      Log in Button goes here
    </div>
  </body>
</html>
