<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PinkBNB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body>
    <%= flash[:notice] %>

    <div class="page-header">
      <h1>Pink BNB</h1>
    </div>

    <div class="sign-up-form">

    <form action="/users/new" method="post"><label class="notAMember" for="form-details">Not a member? Sign up</label>
      <div class="form-details">
        <input type="text" name="sign_up_name" placeholder="Enter name">
      </div>

      <div class="form-details">
        <input type="text" name="sign_up_username" placeholder="Enter username">
      </div>

      <div class="form-details">
        <input type="text" name="sign_up_email" placeholder="Enter email">
      </div>

      <div class="form-details">
        <input type="password" name="sign_up_password" placeholder="Password">
      </div>
      <input type="submit" value="Submit">
    </form>

    </div>

    <div class="login-form"><label class="member" for="form-details">Sign in</label>
      <form action="/sessions" method="post">
        <div class="form-details">
          <input type="text" name="login_username" placeholder="Username">
        </div>
        <div class="form-details">
          <input type="password" name="login_password" placeholder="Password">
        </div>
        <div class="form-details">
          <input type="submit" value="Login">
        </div>
      </form>
    </div>


  </body>
</html>
