<h2>Add a space</h2>

<form action="/space/new" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="description" placeholder="Description">
  <input type="price" name="price_per_night" placeholder="Price per night">
  <input type="submit" value="Add">
</form>