<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet.css">
    <title>PinkBnB</title>
  </head>

  <body>
    <div>
    <h2>Add a space</h2>

    <form action="/spaces/new" method="post">
      <p><label>Name: </label><input type="text" name="name" placeholder="Name"></p>
      <p><label>Description: </label><textarea name="description" rows="8" cols="80" placeholder="Description"></textarea></p>
      <p><label>Price per night: </label><input type="price" name="price_per_night" placeholder="Price per night"></p>
      <input type="submit" value="Add">
    </form>
    </div>
  </body>
</html>
