body {
  /* background-color: lightpink; */
  background-image: url("https://images.unsplash.com/photo-1519160558534-579f5106e43f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
  background-repeat: repeat;
  background-size: auto;

  height: 100%;

  background-position: center;
  background-size: cover;
}
}


.page-header {
  color: white;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  margin: 20px auto;
}

h1 {
  display: inline;
  border-style: inset;
}

.signupbutton {
  background-color: grey;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 100px;
  bottom: 10px;
  width: 300px;
}

.log-in {
  color: white;
  background-color: grey;
  cursor: pointer;
  position: absolute;
  right: 100px;
  width: 300px;
}

.form-details {
  margin: 4px 2px;
}

.sign-up-form {
  position: absolute;
  left: 200px;
  bottom: 350px;
  width: 300px;
}

.notAMember{
  color: white;
}

/* .homepage-photo {
  position: absolute;
  right: 500px;
  bottom: 20px;
} */
