body {
  background-image: url("https://images.unsplash.com/photo-1519160558534-579f5106e43f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
  background-position: center;
  background-size: cover;
  font-size: 18px;
  /* width: 100% */
}

.container {
  background-color: rgb(128, 128, 128, 0.75);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 5rem;
  max-width: 600px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.container-column {
  background-color: rgb(128, 128, 128, 0.75);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  max-width: 600px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.page-header {
  background-color: rgb(90, 133, 186, 0.5);
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  text-align: center;
}

.sub-header {
  background-color: rgb(250, 128, 114, 0.5);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  text-align: center;
}

h1 {
  display: inline;
}

button {
  background-color: rgb(41, 152, 41);
  border-radius: 0.5rem;
  border-style: none;
  color: white;
  font-size: 16px;
  margin-top: 1rem;
  padding: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: 100%;
}

.flash-notice {
  background-color: salmon;
  color: white;
  font-size: 12;
  text-align: center;
}

input {
  border-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-details {
  /* margin: 4px 2px; */
  width: 100%;
}

::placeholder {
  font-size: 14px;
  padding: 5px;
}

.sign-up-form {
  padding: 2rem;
}

.login-form {
  padding: 2rem;
}

.new-space-form {
  padding: 2rem;
  width: 100%
}

.notAMember {
  color: white;
}

.member {
  color: white;
}

label {
  color: white;
  margin-bottom: -1rem;
  margin-top: 0.5rem;
}

.date-picker {
  color: grey;
  font-size: 14px;
  padding: 5px;
  width: 100%;
}

.space-index {
  background-color: rgb(128, 128, 128, 0.75);
  color: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 5rem;
  max-width: 600px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.add-space-logout {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
}

.welcome {
  color: white;
  font-family: 'Allerta', Helvetica, Arial, sans-serif;
  line-height: 50px;
}
